;; Example of configuration file.
;; Modify line with schema=... and dir=... set real path of your files.
;; and save into /etc/fred_client.conf or ~/.fred_client.conf
;; EXPLANATION: Double semicolon (;;) means comment. Single semicolon (;) means disabled value.

[connect]
dir=/home/username/certificates
host = epp-test.ccreg.nic.cz
port = 700
ssl_cert = %(dir)s/certificate.pem
ssl_key  = %(dir)s/private_key.pem
username = MYUSERNAME
password = MYPASSWORD

;; Every XML namespace can have the version independent to others:
schema_version_contact = 1.1
schema_version_nsset   = 1.1
schema_version_domain  = 1.1
schema_version_enum    = 1.0
schema_version_fred    = 1.0
schema_version_epp     = 1.0

;; socket timeout in sec. In MS Windows MUST be set to 0.0 (timeout bug)
timeout = 10.0

;; Force socket type. Valid value is: IPv4 or IPv6.
;; Default is to use server's socket type.
;socket = IPv6

;; turn off automatic login process after start up
;nologin = y

[session]
schema = %(python-site-packages)s/fred/schemas/all-1.0.xsd

;; send "poll ack" right after to "poll req"
poll_autoack = off

;; confirm all editable commands
confirm_send_commands = on

;; enable/disable xmllint
validate = on

;; display colors on tty console
colors = yes

;; set verbose level 1,2,3
verbose = 2

;; if lang is not set, it used value from os.environ.LANG
;lang = en

;; substitution of NULL value
;null_value = None

;; cltrID - client transaction ID for all communication
;; Symbol %d is replaced by number of the command.
;; Value 04 between % and d pads all numbers to four digits (leading zero).
; cltrid = myid%04d
