include extras/*.py
global-exclude test_*.*

include doc/README_CS.docbook
include doc/client_example.php
include doc/fred_howto_cs.*
include doc/*.ico

exclude fred/fred_debug.py

include INSTALL
include INSTALL_CS.ascii
include INSTALL_CS.utf8
include uninstall.py
include setup_postinstall.py
include ChangeLog_cs.utf8
include ChangeLog_cs.ascii

include MANIFEST.in
include fred-client.spec
